name: CI
on: [push, pull_request]

concurrency: # Cancel stale PR builds (but not push builds)
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux_x64
            builder: ubuntu-latest
          - name: macosx_x64
            builder: macos-latest
          - name: windows_x64
            builder: windows-latest
    defaults:
      run:
        shell: bash

    name: CI '${{ matrix.name }}'
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout
        uses: actions/checkout@v4

      - uses: nim-lang/setup-nimble-action@d27cc94
        with:
          nimble-version: '0.20.1'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build nph
        run: |
           nimble build

      - name: Check formatting
        run: |
          ! ./nph --check tests/before
          ./nph --check tests/after

          ./nph src
          git diff --exit-code
